<section id="doctors" class="doctors">
  <div class="container">
    <div class="section-title">
      <h2>Doctors</h2>
    </div>

    <div class="row">
      {% for medecin in medecins %}
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img src="/{{medecin.image}}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>{{medecin.prenom}} {{medecin.nom}}</h4>
            <span
              >{{medecin.specialite}} | {{medecin.clinique|truncatewords:5}}
            </span>
            <p>{{medecin.description|truncatewords:15}}</p>

            <a href="#appointment" class="appointment-btn mt-4">Show more</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
