<footer class="footer pt-6 pb-5 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col mb-md-0">
        <a
          href="https://themesberg.com"
          target="_blank"
          class="d-flex justify-content-center mb-3"
        >
          <img
            src="/static/assets/img/brand/healthhub-logo.png"
            height="40"
            class="me-2"
            alt="Themesberg Logo"
          />
          <p class="text-white fw-bold footer-logo-text m-0">HealthHub</p>
        </a>
        <div
          class="d-flex text-center justify-content-center align-items-center"
          role="contentinfo"
        >
          <p class="fw-normal font-small mb-0">
            Copyright © HealthHub 2023-<span class="current-year">2024</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
