<header class="header-global bg-secondary">
    <nav
      id="navbar-main"
      aria-label="Primary navigation"
      class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark"
    >
      <div class="container position-relative">
        <a class="navbar-brand me-lg-5" href="{% url 'home'%}">
          <img
            class="navbar-brand-dark"
            src="/static/assets/img/brand/healthhub-logo.png"
            alt="Logo light"
          />
          <img
            class="navbar-brand-light"
            src="/static/assets/img/brand/healthhub-logo.png"
            alt="Logo dark"
          />
        </a>
        <div class="navbar-collapse collapse me-auto" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="{% url 'home'%}">
                  <img
                    src="/static/assets/img/brand/healthhub-logo.png"
                    alt="HealthHub logo"
                  />
                </a>
              </div>
              <div class="col-6 collapse-close">
                <a
                  href="#navbar_global"
                  class="fas fa-times"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbar_global"
                  aria-controls="navbar_global"
                  aria-expanded="false"
                  title="close"
                  aria-label="Toggle navigation"
                ></a>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item">
              <a
                href="{% url 'home'%}#aboutus"
                class="nav-link "
                aria-expanded="false"
              >
                About Us
              </a>
            </li>

            <li class="nav-item">
              <a
                href="{% url 'home'%}#services"
                class="nav-link "
                aria-expanded="false"
              >
              Services
              </a>
            </li>

            <li class="nav-item">
              <a
              href="{% url 'home'%}#doctors"
              class="nav-link "
              aria-expanded="false"
              >
              Doctors
              </a>
        </li>

            <li class="nav-item">
              <a
                href="{% url 'home'%}#clinics"
                class="nav-link "
                aria-expanded="false"
              >
              Clinics
              </a>
            </li>






            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                id="supportDropdown"
                aria-expanded="false"
              >
                Support
                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-lg"
                aria-labelledby="supportDropdown"
              >
                <div class="col-auto px-0">
                  <div class="list-group list-group-flush">
                    <a
                      href=""
                      target="_blank"
                      class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"
                    >
                      <span class="icon icon-sm"
                        ><span class="fas fa-file-alt"></span
                      ></span>
                      <div class="ms-4">
                        <span class="d-block font-small fw-bold mb-0"
                          >Contact Us
                          </span
                        >
                        <span class="small">For more information</span>
                        </span>
                      </div>
                    </a>
                    <a
                      href=""
                      target="_blank"
                      class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"
                    >
                      <span class="icon icon-sm"
                        ><span class="fas fa-microphone-alt"></span
                      ></span>
                      <div class="ms-4">
                        <span class="d-block font-small fw-bold mb-0"
                          >Support</span
                        >
                        <span class="small">Need help? Ask us!</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="d-flex align-items-center">

          {% if request.session.USER %}
          <a
            class="btn btn-outline-gray-100 mb-sm-3 me-2 mb-md-0"
            href="{% url 'profile'%}"
            ><span class="far fa-user-circle me-2 link-spanne"></span
            >Profile</a
          >
          <a
            class="btn btn-outline-gray-100 mb-sm-3 me-2 mb-md-0"
            href="{% url 'logout'%}"
            ><span class="me-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg> </span
            >Logout</a
          >

          <a
          href="{% url 'make_appointment'%}"
          target="_blank"
          class="btn btn-tertiary"
          > Make Appointement</a
        >
          {% else %}
          <a
          class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"
            href="{% url 'login'%}"
            ><span class="far fa-user-circle me-2 link-spanne"></span>login</a
          >
          {% endif %}


          <button
            class="navbar-toggler ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar_global"
            aria-controls="navbar_global"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
  </header>