<header class="header-global">
    <nav
      id="navbar-main"
      aria-label="Primary navigation"
      class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark"
    >
      <div class="container position-relative">
        <a class="navbar-brand me-lg-5" href="">
          <img
            class="navbar-brand-dark"
            src="/static/assets/img/brand/healthhub-logo.png"
            alt="Logo light"
          />
          <img
            class="navbar-brand-light"
            src="/static/assets/img/brand/healthhub-logo.png"
            alt="Logo dark"
          />
        </a>
        <div class="navbar-collapse collapse me-auto" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="">
                  <img
                    src="/static/assets/img/brand/healthhub-logo.png"
                    alt="HealthHub logo"
                  />
                </a>
              </div>
              <div class="col-6 collapse-close">
                <a
                  href="#navbar_global"
                  class="fas fa-times"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbar_global"
                  aria-controls="navbar_global"
                  aria-expanded="false"
                  title="close"
                  aria-label="Toggle navigation"
                ></a>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item">
              <a
                href="#aboutus"
                class="nav-link dropdown-toggle"
                aria-expanded="false"
              >
                About Us
              </a>
            </li>

            <li class="nav-item">
              <a
                href="#services"
                class="nav-link dropdown-toggle"
                aria-expanded="false"
              >
              Services
              </a>
            </li>

            <li class="nav-item">
              <a
                href="#clinics"
                class="nav-link dropdown-toggle"
                aria-expanded="false"
              >
              Clinics
              </a>
            </li>

            <li class="nav-item">
                  <a
                  href="#doctors"
                  class="nav-link dropdown-toggle"
                  aria-expanded="false"
                  >
                  Doctors
                  </a>
            </li>




            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                id="supportDropdown"
                aria-expanded="false"
              >
                Support
                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-lg"
                aria-labelledby="supportDropdown"
              >
                <div class="col-auto px-0">
                  <div class="list-group list-group-flush">
                    <a
                      href=""
                      target="_blank"
                      class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"
                    >
                      <span class="icon icon-sm"
                        ><span class="fas fa-file-alt"></span
                      ></span>
                      <div class="ms-4">
                        <span class="d-block font-small fw-bold mb-0"
                          >Contact Us
                          </span
                        >
                        <span class="small">For more information</span>
                        </span>
                      </div>
                    </a>
                    <a
                      href=""
                      target="_blank"
                      class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4"
                    >
                      <span class="icon icon-sm"
                        ><span class="fas fa-microphone-alt"></span
                      ></span>
                      <div class="ms-4">
                        <span class="d-block font-small fw-bold mb-0"
                          >Support</span
                        >
                        <span class="small">Need help? Ask us!</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="d-flex align-items-center">
          <a
            href=""
            target="_blank"
            class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"
            ><span class="fas fa-user me-2"></span> Login</a
          >
          <a
            href=""
            target="_blank"
            class="btn btn-tertiary"
            > Make Appointement</a
          >
          <button
            class="navbar-toggler ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar_global"
            aria-controls="navbar_global"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
  </header>