{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="mt-5 mb-4">Make Appointment</h1>
        <form method="POST" action="{% url 'make_appointment' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
          <div class="form-group">
            <label for="time">Time:</label>
            <input type="time" class="form-control" id="time" name="time" required>
          </div>
          <div class="form-group">
            <label for="patient">Patient:</label>
            <input type="text" class="form-control" id="patient" name="patient" value="{{ request.session.USER.username }}" readonly>
          </div>
          <div class="form-group">
            <label for="medecin">Medecin:</label>
            <select class="form-control" id="medecin" name="medecin" required>
              {% for medecin in medecins %}
                <option value="{{ medecin.id }}">{{ medecin.username }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="clinique">Clinique:</label>
            <select class="form-control" id="clinique" name="clinique" required>
              {% for clinique in cliniques %}
                <option value="{{ clinique.id }}">{{ clinique.nom }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="specialite">Specialite:</label>
            <input type="text" class="form-control" id="specialite" name="specialite">
          </div>
          <button type="submit" class="btn btn-primary mb-4 mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
