<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>HealthHub</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="title" content="HealthHub" />
    <meta name="author" content="Majdar Soufiane" />

    <link
      rel="canonical"
      href="https://themesberg.com/product/ui-kit/pixel-free-bootstrap-5-ui-kit"
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/static/assets/img/brand/healthhub-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/assets/img/brand/healthhub-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/assets/img/brand/healthhub-logo.png"
    />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fontawesome -->
    <link
      type="text/css"
      href="/static/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Pixel CSS -->
    <link type="text/css" href="/static/css/pixel.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    {% include 'home/header.html' %}
    <!-- End Header -->

    <main>{% block content %}{% endblock content %}</main>

    <!-- ======= Footer ======= -->
    {% include "home/footer.html"%}
    <!-- End Footer -->

    <!-- Core -->
    <script src="/static/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="/static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/vendor/vivus/dist/vivus.min.js"></script>
    <script src="/static/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Pixel JS -->
    <script src="/static/assets/js/pixel.js"></script>
  </body>
</html>
