{% extends "base.html" %}{% load static %} {% block content %}

<!-- Section Profile  -->
<div class="section section-md">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 mt-5">
        <div class="card shadow mb-6">
          <div class="card-body px-5 py-5 text-center text-md-left">
            <div class="row align-items-center">
              <div class="col-md-6">
                {% if request.session.USER.image %}
                <img
                  src="/{{ request.session.USER.image }}"
                  class="rounded-circle img-thumbnail image-lg border-secondary p-2"
                  alt="Avatar"
                />
                {% else %}
                <img
                  src="/static/imgs/avatar.jpeg"
                  class="rounded-circle img-thumbnail image-lg border-secondary p-2"
                  alt="Avatar"
                />
                {% endif %}

                <h1 class="my-4">
                  {{ request.session.USER.fName }}
                  {{request.session.USER.lName}}
                </h1>
                <h2 class="h5 fw-normal text-gray mb-4">
                  <span class="fas fa-map-marker-alt me-2"></span>
                  {{ request.session.USER.address }}
                </h2>
                <ul
                  class="list-unstyled d-flex justify-content-center mt-3 mb-0"
                ></ul>
              </div>

              <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                <a href="#" class="btn btn-primary">
                  <span class="me-1">
                    <span class="far fa-sun"></span>
                  </span>
                  edit
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-gray-200<">
      <div class="col-md-6 col-lg-4">
        <ul
          class="list-group list-group-transparent list-group-flush list-group-borderless mb-0"
        >
          <li class="list-group-item rounded-0 py-4">
            <div class="d-flex">
              <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"
                ><span class="fas fa-globe-europe"></span
              ></span>
              <div class="media-body d-block">
                <span class="h5">About:</span>
                <div class="text-gray mt-2">
                  {{ request.session.USER.description }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4">
        <ul
          class="list-group list-group-transparent list-group-flush list-group-borderless mb-0"
        >
          <li class="list-group-item rounded-0 py-4">
            <div class="d-flex">
              <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"
                ><span class="fas fa-mobile-alt"></span
              ></span>
              <div class="media-body d-block">
                <span class="h5">Role:</span>
                <div class="text-gray mt-2">
                  {{ request.session.USER.role }} 
                  {{request.session.USER.specialite }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4">
        <ul
          class="list-group list-group-transparent list-group-flush border-0 mb-0"
        >
          <li class="list-group-item rounded-0 py-4">
            <div class="d-flex">
              <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"
                ><span class="far fa-paper-plane"></span
              ></span>
              <div class="media-body d-block">
                <span class="h5">Email:</span>
                <div class="text-gray mt-2">
                  <a href="#">{{ request.session.USER.email }}</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{%endblock%}
