{% extends "base.html" %}{% load static %} {% block content %}

<!-- Section signup -->
<section class="section section-lg pt-6 mt-5">
  <div class="container">
    {% if message %}
    <div class="row justify-content-center">
      <div class="col-auto m-3">
        <div
          class="toast bg-primary text-white fade show"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <span class="far fa-comments me-2"></span>
            <strong class="me-auto">Messsage</strong>
            <small>{{ message.1 }}</small>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">{{ message.0 }}</div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div
          class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500"
        >
          <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h3">Create an account</h1>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <!-- Form -->
            <div class="form-group mb-4">
              <label for="email">Username</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3"
                  ><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-person"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                      /></svg></span
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  name="userName"
                  required=""
                />
              </div>
            </div>
            <!-- End of Form -->

            <!-- Form -->
            <div class="form-group mb-4">
              <label for="email">First Name</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3"
                  ><span class="far fa-user-circle"></span
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  name="fName"
                  required=""
                />
              </div>
            </div>
            <!-- End of Form -->

            <!-- Form -->
            <div class="form-group mb-4">
              <label for="email">Last Name</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3"
                  ><span class="far fa-user-circle"></span
                ></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  name="lName"
                  required=""
                />
              </div>
            </div>
            <!-- End of Form -->

            <!-- Form -->
            <div class="form-group mb-4">
              <label for="email">Your Email</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3"
                  ><span class="fas fa-envelope"></span
                ></span>
                <input
                  type="email"
                  class="form-control"
                  placeholder="example@company.com"
                  name="email"
                  required=""
                />
              </div>
            </div>
            <!-- End of Form -->
            <div class="form-group">
              <!-- Form -->
              <div class="form-group mb-4">
                <label for="password">Your Password</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon4"
                    ><span class="fas fa-unlock-alt"></span
                  ></span>
                  <input
                    type="password"
                    placeholder="Password"
                    class="form-control"
                    id="password"
                    name="password"
                    required=""
                  />
                </div>
              </div>
              <!-- End of Form -->
              <!-- Form -->
              <div class="form-group mb-4">
                <label for="password_confirm">Confirm Password</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon5"
                    ><span class="fas fa-unlock-alt"></span
                  ></span>
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    class="form-control"
                    name="password_confirm"
                    required=""
                  />
                </div>
              </div>
              <!-- End of Form -->
              <div class="form-check mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terms"
                  required=""
                />
                <label class="form-check-label" for="terms">
                  I agree to the <a href="#">terms and conditions</a>
                </label>
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </form>
          <div class="mt-3 mb-4 text-center">
            <span class="fw-normal">or</span>
          </div>
          <div class="btn-wrapper my-4 text-center">
            <a
              href="#"
              class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook me-2"
              aria-label="facebook button"
              title="facebook button"
            >
              <span aria-hidden="true" class="fab fa-facebook-f"></span>
            </a>
            <a
              href="#"
              class="btn btn-icon-only btn-pill btn-outline-gray-300 text-twitter me-2"
              aria-label="twitter button"
              title="twitter button"
            >
              <span aria-hidden="true" class="fab fa-twitter"></span>
            </a>
            <a
              href="#"
              class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook"
              aria-label="github button"
              title="github button"
            >
              <span aria-hidden="true" class="fab fa-github"></span>
            </a>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-4">
            <span class="fw-normal">
              Already have an account?
              <a href="{% url 'login' %}" class="fw-bold text-underline"
                >Login here</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
